torch
torchvision
diffusers
transformers
decord
accelerate
einops
omegaconf
opencv-python
mediapipe
python_speech_features
librosa
scenedetect
ffmpeg-python
imageio
imageio-ffmpeg
lpips
face-alignment
gradio
huggingface-hub
numpy
kornia
insightface
onnxruntime-gpu
deepCache
